.numbers {
  background: {
    image: url("#{$image-path}/map.png");
    position: center;
    size: 54%;
    repeat: no-repeat;
  }

  &__container {
    max-width: 58rem;
    margin: {
      left: auto;
      right: auto;
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    padding-bottom: 15rem;
  }
}

.number {
  margin-top: 2rem;
  text-align: center;
  position: relative;

  &:nth-of-type(1) {
    transform: translate(43%, 88%);
  }

  &:nth-last-of-type(1) {
    transform: translate(-43%, 88%);
  }

  h3 {
    color: $green-cold-400;
    font-size: 2.75rem;
    font-weight: 900;
    font-family: $display-font;
  }

  p {
    color: $gray-25;
    font-family: $primary-font;
    font-size: 1.5rem;
    margin: {
      left: auto;
      right: auto;
      top: 0.5rem;
    }
    width: 40%;

    strong {
      font-weight: 700;
    }
  }

  &__shape {
    position: absolute;
    left: 50%;
    width: 20rem;
    transform: translate(-50%, -20%);
    text-align: center;
    top: 0;
  }
}

@mixin numbers-lg {
  .numbers {
    background: none;
    &__list {
      margin-top: 10rem;
      padding-bottom: 12rem;
      flex-direction: column;
    }
  }

  .number {
    &:nth-of-type(1) {
      transform: translateY(-54%);
    }

    &:nth-last-of-type(1) {
      transform: translateY(54%);
    }

    &__shape {
      width: 22rem;
    }

    h3 {
      font-size: 3rem;
    }

    p {
      font-size: 1.75rem;
      max-width: 15rem;
      width: 80%;
    }
  }
}

