.registration {
  background: url("#{$image-path}/circuit.png") no-repeat center -0.25rem / 90%;

  &__header {
    color: $gray-100;
    margin: 2.5rem auto;
    padding: 0 1.5rem;
    max-width: 47rem;
  }

  &__title {
    font-family: $primary-font;
    font-weight: 600;
  }

  &__form {
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    background: rgba($gray-900, 0.5);
    display: flex;
    border: 2px solid $teal-600;
    border-radius: 1.25rem;
    flex-direction: column;
    gap: 1.5rem;
    margin: {
      left: auto;
      right: auto;
    }
    max-width: 42rem;
    padding: 2rem 3rem;
  }

  &__field {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

@mixin registration-md {
  .registration {
    background: none;

    &__header {
      margin-top: 0;
      text-wrap: balance;
    }

    &__form {
      padding: {
        left: 2.25rem;
        right: 2.25rem;
      }
    }
  }
}
