.registration {
  background: url("#{$image-path}/circuit.png") no-repeat center -0.25rem / 90%;

  &__header {
    color: $gray-200;
    margin: {
      left: auto;
      right: auto;
      top: 4rem;
      bottom: 2.5rem;
    }
    padding: 0 1.5rem;
    max-width: 47rem;
    text-align: center;
  }

  &__title {
    font-family: $primary-font;
    font-weight: 600;
  }

  strong {
    color: $gray-100;
  }

  &__form {
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    background: rgba($gray-900, 0.5);
    display: flex;
    border: 2px solid $teal-600;
    border-radius: 1.25rem;
    flex-direction: column;
    gap: 1.5rem;
    margin: {
      left: auto;
      right: auto;
    }
    max-width: 42rem;
    padding: 2rem 3rem;
  }

  &__field {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
