.gradient-text {
  background: linear-gradient(270deg, $teal-600, $blue-cyan-200);

  font: {
    family: $display-font;
    weight: 900;
  }

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  &::selection {
    -webkit-text-fill-color: $white;
  }
}
