::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $gray-200;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: $green-cold-400;
  border-radius: 10px;
  transition: background 0.3s ease;

  &:hover {
    background: $teal-600;
  }
}

* {
  scrollbar-color: $green-cold-400 $gray-200;
  scrollbar-width: thin;
}
