body {
  -webkit-font-smoothing: antialiased;
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 1rem;
}

html {
  font-size: 125%;

  @include respond-to("ultra") {
    font-size: 112.5%;
  }

  @include respond-to("xxl") {
    font-size: 100%;
  }

  @include respond-to("xl") {
    font-size: 81.25%;
  }

  @include respond-to("md") {
    font-size: 75%;
  }

  @include respond-to("sm") {
    font-size: 68.75%;
  }
}
