// Fonts
$primary-font: "Raleway", sans-serif;
$secondary-font: "Open Sans", sans-serif;
$display-font: "Orbitron", sans-serif;

// Colors
$black: #000000;

$gray-950: #0d100f;
$gray-900: #1b1b1b;
$gray-800: #292929;
$gray-700: #313131;
$gray-600: #414242;
$gray-500: #4f5050;
$gray-400: #898d8d;
$gray-300: #a3a5a5;
$gray-200: #b0b5b6;
$gray-100: #d4dbda;
$gray-50: #e3e9e9;
$gray-25: #f1fff9;
$white: #ffffff;

$green-200: #0fd938;
$green-cold-400: #43ab6d;
$teal-600: #036b53;
$blue-cyan-200: #14a0c7;
$blue-deep-700: #002f53;
$red-200: #e63946;

// Folders Path
$base-path: "../assets";
$image-path: "#{$base-path}/images";
$icon-path: "#{$base-path}/icons";
